repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files
    -   id: detect-private-key

- repo: https://github.com/psf/black
  rev: 23.7.0
  hooks:
    -   id: black

- repo: https://github.com/PyCQA/flake8
  rev: 6.1.0
  hooks:
    -   id: flake8
